<section>
    <div class="container secondary">
        <h2 class="welcome-heading">Collaborative | Formal Projects</h2>
        <div class="about-me-preview">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="./assets/INF370Project.png" alt="project preview photo">
                        <div class="card-footer">
                            <div class="card-buttons d-flex">
                                <button type="button" class="btn btn-primary" id="card-button" title="Information Systems Development Project (INF 370)" data-container="body" data-toggle="popover" data-placement="top" 
                                data-content="This is the site we buildt for our client as team 29 for our capstone project, we made a lot mistakes but we learned from them. It was a great way to put all we have learned into practice and test ourselves.
                                We also learned the importance of developing your soft skills as they are just as important as your technical skills.
                                Congrats to the class of 2023 Informatics Students at the University of Pretoria, South Africa.">

                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                                <a href="https://cleancloudapp-c7a1d.web.app/topnav-menu/home" class="btn btn-primary ml-3" id="card-button">Visit Site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>  
        <br/>
        <h2 class="welcome-heading">Personal Projects</h2>  
        <div class="about-me-preview">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="./assets/personal-site-image.png" alt="project preview photo" height="218">
                        <div class="card-footer">
                            <div class="card-buttons d-flex">
                                <button type="button" class="btn btn-primary" id="card-button" title="Personal Website" data-container="body" data-toggle="popover" data-placement="top" 
                                data-content="This is my personal website I buildt to practice everything I have learned about CSS and Bootstrap in my Udemy course.">

                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                                <a href="https://devhubunlimited.github.io/personal-site/" class="btn btn-primary ml-3" id="card-button">Visit Site</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="./assets/timemanagementsystem.png" alt="project preview photo">
                        <div class="card-footer">
                            <div class="card-buttons d-flex">
                                <button type="button" class="btn btn-primary" id="card-button" title="Simple Time Management System" data-container="body" data-toggle="popover" data-placement="top" 
                                data-content="This was the first assignment I had to do in my second year of study for my programming module. The user inputs their module information, information about the task they have to do for the module and then they have the option to create a to do list item based on the information they provided in the previous forms.">

                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                                <a href="https://devhubunlimited.github.io/time-management-system/" class="btn btn-primary ml-3" id="card-button">Visit Site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</section>
