<section>
    <div class="container secondary">
        <h1 class="welcome-heading">Welcome.</h1>
        <div class="about-me-preview">
            <div class="vertical-line-home"></div>
            <p class="aligned-paragraph">My name is Nkululeko Mkhwanazi, I am an aspiring Web Developer based in Perdekop, Mpumalanga, S.A. I have recently completed my Bachelor of Information Technology in Information Systems and I'm looking to get my feet wet in the world of 
                web and mobile app development.<br/>
                I have mostly been taught programming in the C# language for back-end development and HTML & Javascript for front-end development.<br/>
                I am passionate about developing systems that are beautiful to look at, easy to navigate and help their users achieve their tasks more effeciently. I am eager to learn and i'm currently teaching myself programming in Python.<br/>
                Frameworks I have worked with include: ASP.NET MVC, ASP.NET WebAPI, Entity Framework, Angular, Ionic and Bootstrap.
            </p>
        </div>    
    </div>
</section>
 
